/* Text color */
.text-primary {
  color: #28a745;
}

.text-secondery {
  color: #0284d0;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background: #28a745;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary, .bg-primary {
  background: #28a745;
  color: #fff;
}

.btn-secondary, .bg-secondary {
  background: #0284d0;
  color: #fff;
}

.btn-dark, .bg-dark {
  background: #333;
  color: #fff;
}
.btn-light, .bg-light {
  background: #f4f4f4;
  color: #333;
}

.btn-outline {
  background: transparent;
  border: #fff 1px solid;
}

.flex-items {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;
}

.flex-items > div {
  padding: 20px;
}

/* Flex columns */
.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
height: 100%;
}

.flex-columns img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.section-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

.section-header h4 {
  font-size: 23px;
  padding-bottom: 5px;
}

.section-header h2 {
  font-size: 30px;
  font-weight: 40px;
}

.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.flex-grid .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}